body{
    background-color: rgb(148, 148, 148);
    height: 100%;
    padding: 0;
}

table, thead, tbody, th, tr, td{
    border-collapse: collapse;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 2px 4px;
    text-align: center;
}

table{
    margin: 0 8px;
    padding: 0;
}

th{
    word-wrap: normal;
}

td{
    word-wrap: break-word;
    word-break: break-all;
    max-width: 185px;
}

.container{
    background-color: rgb(19, 129, 180);
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 0;
}

.header{
    background-color: rgb(82, 82, 82);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title{
    background-color: cadetblue;
    padding: 0 10px;
}

.info{
    display: flex;
    flex-direction: column;
    padding: 4px 14px;
}

.data-list{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.data-element{
    display: flex;
    flex-direction: column;
}

.filtering{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 6px;
}

.filtering h2, p{
    margin: 6px 0;
}

.filter-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin: 2px 0;
    padding: 4px 4px;
}

.filter-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2px 4px 8px 4px;
    overflow-x: auto;
    max-width: 90%;
}

.footer{
    background-color: rgb(148, 148, 148);
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bolder;
    justify-content: space-evenly;
}

.footer ul{
    color: black;
    margin: 0;
    padding: 10px;
}

.footer ul li{
    list-style: none;
    padding: 4px 0px;
}

.footer ul li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}